Repository zackw/www.owlfolio.org: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --loglevel warn --write

Better way of handling conditional pipeline elements.
  .eslintrc.yml
  index.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Refactor the rename_patterns local plugin.
  lib/local-plugins.js
Due: eslint --cache --fix

Stop using airbnb’s ESLint preferences.
  .eslintrc.yml
  index.js
  lib/local-plugins.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Clean up more glue inherited from the template.
  .nodemon.json
  package.json
Due: prettier --loglevel warn --write

Get category indices working.
  index.js
  layouts/base.njk
  layouts/category.njk
  layouts/macros.njk
  layouts/page.njk
  layouts/post.njk
  lib/local-plugins.js
  lib/scraps.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Accurate date calculation, sorting, and rendering.
  index.js
  layouts/category.njk
  layouts/macros.njk
  layouts/post.njk
  lib/local-plugins.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Restore the list of post categories to the sidebar.
  index.js
  layouts/base.njk
  layouts/category.njk
  layouts/macros.njk
  layouts/page.njk
  lib/local-plugins.js
Due: eslint --cache --fix

Add excerpt/teaser/readmore functionality.
  index.js
  layouts/category.njk
  lib/teaser.js
Due: eslint --cache --fix

Break up local-plugins.js into files for each plugin.
  CC-BY-NC-4.md
  GPL-3.txt
  LICENSING.md
  index.js
  layouts/archive.njk
  layouts/base.njk
  layouts/category.njk
  layouts/macros.njk
  layouts/page.njk
  layouts/post.njk
  lib/defaults-from-path.js
  lib/edit-history.js
  lib/local-plugins.js
  lib/rename-patterns.js
  lib/rendering.js
Due: eslint --cache --fix

Add readmore breaks to many more articles.
  src/posts/fiction/cromulence-experiment.md
  src/posts/foliomatic/pulling-a-site-together-from-lots-of-little-page-generators.md
  src/posts/game/fantasy-setting-no-combat.md
  src/posts/game/nethack.md
  src/posts/game/take-your-time.md
  src/posts/htmletc/google-voice-search-appearance-trustworthiness.md
  src/posts/htmletc/http-application-layer-integrityauthenticity-guarantees.md
  src/posts/htmletc/moco-conf-rooms.md
  src/posts/htmletc/more-ssl-errors.md
  src/posts/htmletc/strawman-mime-type-for-fonts.md
  src/posts/htmletc/zany-scheme-compact-hashes.md
  src/posts/research/bootstrapping-trust-in-compilers.md
  src/posts/research/four-ideas-2011.md
  src/posts/research/how-to-choose-passwords.md
  src/posts/research/interactive-sniffing.md
  src/posts/research/on-replacements-for-passwords.md
  src/posts/research/radical-simplification-will-not-save-the-world.md
  src/posts/research/securing-the-future-net.md
  src/posts/research/security-is-like-immunization.md
  src/posts/uncat/acceleration-stop-const-distance.md
  src/posts/uncat/dead-uncle-allotheria.md
  src/posts/uncat/twitcleaner.md
Due: none

Add previous commit to edit-history ignore list.
  index.js
Due: eslint --cache --fix

Revise “Foliomatic” category header to reflect use of Metalsmith.
  src/posts/foliomatic/index.md
Due: none

Ignore editor scratch and backup files in all subdirectories.
  index.js
Due: eslint --cache --fix

Remove commented-out flickr link from outlinks.yaml.
  src/meta/outlinks.yaml
Due: prettier --loglevel warn --write

2022 November broken link trawl 1/2: the easy cases
  src/pages/contact.md
  src/posts/fiction/2014-hugo-awards-ballot.md
  src/posts/fiction/icons-of-the-future-city.md
  src/posts/foliomatic/coredesign.md
  src/posts/game/brutal-legend.md
  src/posts/htmletc/border-radius.html
  src/posts/htmletc/css-data-theft.md
  src/posts/htmletc/i-will-file-bugs-for-you.md
  src/posts/htmletc/legibility-of-embedded-web-fonts.md
  src/posts/htmletc/moco-conf-rooms.md
  src/posts/htmletc/more-ssl-errors.md
  src/posts/possibly-useful/os-for-project-x-2015.md
  src/posts/research/ccs-2012-conference-report.md
  src/posts/research/ethics-filter-prevention.md
  src/posts/research/institutional-secrecy-culture-is-antidemocratic.md
  src/posts/research/securing-the-future-net.md
  src/posts/research/the-conference-formerly-known-as-oakland-day-1.md
  src/posts/research/the-conference-formerly-known-as-oakland-day-2.md
  src/posts/research/the-conference-formerly-known-as-oakland-day-3.md
  src/posts/travelogues/notes-from-poland.md
  src/posts/uncat/ideas-that-dont-make-money.md
Due: none

2022 November broken link trawl 2/2: the cases requiring editing
  index.js
  src/posts/possibly-useful/more-notes-on-the-cross-platform-availability-of-header-files.md
  src/posts/research/learning-unix.md
Due: eslint --cache --fix

2022 November broken link trawl (pelican version)
  content/fiction/icons-of-the-future-city.md
  content/foliomatic/coredesign.md
  content/game/brutal-legend.md
  content/htmletc/border-radius.html
  content/htmletc/css-data-theft.md
  content/htmletc/i-will-file-bugs-for-you.md
  content/htmletc/legibility-of-embedded-web-fonts.md
  content/htmletc/moco-conf-rooms.md
  content/htmletc/more-ssl-errors.md
  content/pages/contact.md
  content/possibly-useful/more-notes-on-the-cross-platform-availability-of-header-files.md
  content/possibly-useful/os-for-project-x-2015.md
  content/research/ccs-2012-conference-report.md
  content/research/ethics-filter-prevention.md
  content/research/institutional-secrecy-culture-is-antidemocratic.md
  content/research/learning-unix.md
  content/research/securing-the-future-net.md
  content/research/the-conference-formerly-known-as-oakland-day-1.md
  content/research/the-conference-formerly-known-as-oakland-day-2.md
  content/research/the-conference-formerly-known-as-oakland-day-3.md
  content/travelogues/notes-from-poland.md
  content/uncat/ideas-that-dont-make-money.md
Due: none

Restore the top-level index and archive pages.
  index.js
  layouts/archive.njk
  layouts/category.njk
  layouts/macros.njk
  lib/rendering.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Fix the last few broken internal links.
  index.js
  package.json
  src/pages/404.md
  src/posts/ceramics/the-great-2010-ceramic-objects-giveaway.md
  src/posts/possibly-useful/domestic-ghosts.md
Due: eslint --cache --fix, prettier --loglevel warn --write

[trivial] Still more link and typo corrections
  content/research/learning-unix.md
  pelican/conf.py
Due: none

recreate /.well-known/acme-challenge after uploading
  Makefile
Due: none

Switch to forked metalsmith-markdownit with updated dependencies.
  package.json
Due: prettier --loglevel warn --write

Switch to forked metalsmith-beautify with updated dependencies.
  package.json
Due: prettier --loglevel warn --write

Switch to forked metalsmith-broken-link-checker with updated dependencies.
  package.json
Due: prettier --loglevel warn --write

Switch to forked markdown-it-katex.
  layouts/base.njk
  package.json
Due: prettier --loglevel warn --write

Switch all local plugins from multimatch to micromatch.
  lib/defaults-from-path.js
  lib/edit-history.js
  lib/rename-patterns.js
  lib/teaser.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

prepare: Only run ‘husky install’ in development mode.
  package.json
Due: prettier --loglevel warn --write

Stop chaining metalsmith.use().
  index.js
Due: eslint --cache --fix

Implement a sitemap.
  index.js
  lib/sitemap.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Switch from markdown-it-katex to markdown-it-dollarmath.
  lib/rendering.js
  package.json
Due: eslint --cache --fix, prettier --loglevel warn --write

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --loglevel warn --write: any of: *.{json,yml,yaml}
